<div class="container-card">
  
    <div class="left-card card-left">
        <div class="header">
            <span class="left-icon"><i class="fas fa-times"></i></span>
            <div class="sect">
                <h3>Welcome Back! Chidimma</h3>
                <p>See overview of anailytics and reporting metrics<br/> and a lot more interesting stuffs you can do here</p>
                <button class="take-btn">Take A Tour</button>
            </div>
        </div>
    </div>
    <div class="right-card right">
        <div class="toptwo-card">
            <h3>Optimized Application Processing</h3>
            <p>We've optimize the system to process your<br/>application as fast as possible.Click on the button<br/> to get started</p>
            <button class="take-btn new-request">new request</button>
            <div class="ipad">
                <div class="flex-two"> 
                    <i class="fas fa-tablet-alt tablet-small"></i>
                    <i class="fas fa-tablet-alt tablet-big"></i>
                </div>
            </div>
        </div>
    </div>

</div>