<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      mode="side"
      opened
      autosize
      >
      <div>
        <mat-toolbar><span class="circle"><p class="light">S</p></span><span class= "Express">Express Lands</span></mat-toolbar>

      </div>
    <mat-nav-list>
      <a class="list" mat-list-item href="#"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> <span class="Express">Dashboard</span> </a>
      <a class="list" mat-list-item href="#"><span class="material-icons">
        insights
        </span> <span class="Express"> Menu Item 1</span></a>
      <a class="list" mat-list-item href="#">	<mat-icon>people_outline</mat-icon><span class="Express">Menu Item 2</span> </a>
      <a class="list" mat-list-item href="#"><span class="material-icons">
        dashboard
        </span><span  class="Express">Menu Item 3</span> </a>
      <a class="list" mat-list-item href="#"><span class="material-icons">
        brightness_high
        </span> <span class="Express">Menu Item 4</span> </a>
      <a class="list" mat-list-item href="#"> <span><i class="far fa-edit"></i></span> <span class="Express">Menu Item 5</span> </a>
      <div class="last">

        <a class="list" mat-list-item href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 size" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
          <span class="Express">Manage Users</span> </a>
      </div>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon> short_text </mat-icon>
       
      </button>
      <span class="d-flex"></span>
      <div class="head">
        <div class="left">
          <div class="card">
            <div class="flex-it">
              <mat-icon class="none primary">notifications_none</mat-icon>
              <div class="center">Notifications Center<br/>
                <span class="unread">You have 2 unread notifications</span>

              </div>
              <div class="btn-flex">
                
                <button class="btn-small">2</button>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="card">
            <div class="flex-it">
              <mat-icon class="person">person_outline</mat-icon>
                <div class="center">Chidimma Nwanya<br/>
                  <span class="unread">Vanity By Juls</span>

                </div>
                <div class="btn-flex">

                  <button class="small">Log out</button>
                </div>
            </div>
          </div>
        </div>
      </div>  
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
