.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background: white;
}
.sidenav-container {
  height: 100%;
  background-color: white;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: white;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.last {
  margin-top: 150px;
}
.d-flex {
  flex: 1 1 auto;
}
.one-bar {
  width: 35px;
  height: 3px;
  background-color: black;
  margin-bottom: 2px;
}
.two-bar {
  width: 30px;
  height: 3px;
  background-color: black;
}
.head {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  gap: 10px;
}
.card {
  border: 1px solid;
  width: 300px;
  max-width: 30000px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px rgb(238, 234, 234);
}
.btn-flex {
 margin-right: 4px;
  margin-left: auto;
}
.center {
  font-size: 12px;
  position: relative;
  right: 13px;
}
.unread {
  font-size: 8px;
  position: absolute;
  top: 11px;
}
.flex-it {
  display: flex;
}
span.circle {
  background: blue;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.light {
  position: absolute;
  font-size: 12px;
  left: 22px;
  top: 15px;
  color: white;
}
.Express {
  margin-left: 11px;
  font-size: 13px;
}

.btn-small {
  margin-left: 23px;
  width: 40px;
  height: 33px;
  margin-top: 8px;
  background: orange;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;

}
button.small {
  font-size: 8px;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  width: 40px;
  height: 33px;
  margin-left: 23px;
  background: rgb(87, 56, 201);
}
svg.h-6.w-6 {
  width: 20px;
}
.person {
  font-size: 71px;
  position: relative;
  right: 14px;
  top: -10px;
  color: cornsilk;
}
.none {
  font-size: 66px;
  top: -8px;
  position: relative;
  right: 20px;
  color: antiquewhite;
}

.mat-drawer-inner-container {

  overflow: hidden;
 
}