  .ge-card {
      display: flex;
      gap: 57px;
      margin-left: 13px;
  }
  select {
    font-size: 12px;
    outline: none;
    border: none;
}
  .spaci {
    display: flex;
    font-size: 13px;
    gap: 31px;
    
  }
.card-To {
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    border: none;
}
.to-colour-one {
  background-color: rgb(246, 247, 248);
}
.to-colour-two {
  background-color: rgb(250, 238, 217);
}
.to-colour-three {
  background-color: rgb(45, 164, 185);
}
.small-example {
  background-color: rgb(7, 55, 77);
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.capex, .opex, .assets {
    text-align: center;
}
.cards-flex {
    display: flex;
    flex-direction: column;
}
p.totalposition {
  position: relative;
  top: 9px;
}
.main_title {
  margin-left: 7px;
}









.text-card {
  width: 400px;
  max-width: 300px;
  height: 400px;
  max-width: 318px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgb(35, 201, 231);
  border-radius: 5px;
}

.heading {
    background-color: rgba(18, 173, 187, 0.52);
    color: white;
    font-size: 10px;
}
.text_head {
  background-color: white;
  color: black;
}
.text_card {
  background-color: white; 
}

.text-box {
    padding:10px;
    margin-top: 40px;
}
@media screen and (max-width: 800px) {
  .ge-card {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
}