<div class="ge-card">
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="main_title">
          <div class="spaci">
            <p>Annual Work Budget</p>
            <select name="" id="">
              <option value="">This Year</option>
            </select>
          </div>
       
        </mat-card-title>
        <mat-card-subtitle>Summary</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="capex">
          capex
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-To">
          <div class="Total_Play">
              <div class="total">
                    <div class="cards-flex">
                      <p>Total Play (NGN)</p>
                      <p>50,000,000</p>
                    </div>
                  <div class="cards-flex">
                    <span>
                      <input type="radio" id="ma" name="gen" value="ma">
                          <label for="ma">Total Spent</label>

                    </span>
                    <span>
                      <input type="radio" id="ma" name="gen" value="ma">
                          <label for="ma">Balance</label>

                    </span>
                  </div>
              </div>
          </div>
          <div class="total">
            <div class="cards-flex">
              <span>Total Spent(NGN)</span>
              <span>18,000,000</span>
          </div>
          <div class="cards-flex">
                <span>Balance(NGN)</span>
              <span>32,000,000</span>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="main_title">
          <div class="spaci">
            <p>Annual Play Budget</p>
            <select name="" id="">
              <option value="">This Year</option>
            </select>
          </div>
       
        </mat-card-title>
        <mat-card-subtitle>Summary</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="opex">
          OPEX
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-To">
          <div class="Total_Play">
              <div class="total">
                    <div class="cards-flex">
                      <p>Total Work (NGN)</p>
                      <p>20,000,000</p>
                    </div>
                  <div class="cards-flex">
                    <span>
                      <input type="radio" id="ma" name="gen" value="ma">
                          <label for="ma">Total Spent</label>

                    </span>
                    <span>

                      <input type="radio" id="maf" name="gen" value="maf"><label>Balance</label>
                    </span>
                  </div>
              </div>
          </div>
          <div class="total">
            <div class="cards-flex">
              <span>Total Spent(NGN)</span>
              <span>10,000,000</span>
          </div>
          <div class="cards-flex">
                <span>Balance(NGN)</span>
              <span>10,000,000</span>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="main_title">
          <div class="spaci">
            <p>Cards Count</p>
          </div>
       
        </mat-card-title>
        <mat-card-subtitle>Summary</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="assets">
          ASSETS
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-To">
          <div class="Total_Play">
              <div class="total">
                    <div class="cards-flex">
                      <p>Total cards</p>
                      <p>392,383</p>
                    </div>
                  <div class="cards-flex">
                        <span>  <input type="radio" id="ma" name="gen" value="ma">In-use</span>
                          <span>  <input type="radio" id="ma" name="gen" value="ma">In-active</span>
                  </div>
              </div>
          </div>
          <div class="total">
            <div class="cards-flex">
              <span>Card in-use</span>
              <span>342,383</span>
          </div>
          <div class="cards-flex">
                <span>In-active</span>
              <span>50,000</span>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>